#coin-detail-container {
  border: red; 
  padding: 20px 100px 100px 100px
}

.header-div {
  font-size: 50px;
  padding: 60px
}

#follow-button {
  float: right;
  font-size: 30px;
  margin-right: 15px
}

#buy-button {
  float: right;
  font-size: 30px
}

#chart-column {
  padding: 50px;
  border: 1px solid rgb(202, 195, 195);
  margin-bottom: 40px;
  border-radius: 15px;
  margin-right: -280px
}

#buy-coin-column {
  margin-left: 300px;
  padding: 50px;
  margin-bottom: -100px;

}

#about-div {
  border: 1px solid rgb(202, 195, 195);
  border-radius: 15px;
  padding: 50px;
  margin-right: -280px;
    /* font-family: 'Lato', sans-serif; */
  font-family: 'Hind', sans-serif;
  font-size: 17px
}

#news-div {
  border: 1px solid rgb(202, 195, 195);
  border-radius: 15px;
  margin-top: 40px;
  padding: 50px;
  margin-right: -280px
}

#assets-column {
  padding: 50px;
  border: 1px solid rgb(202, 195, 195);
  border-radius: 15px;
  margin-left: 300px
}



.outline-dashed {
	background-color: #1652f0;
	outline: 22px dashed white;
	outline-offset: -19px;
}

.buy-text {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px

}

/* presentation styles*/
.card {
  margin-bottom: 50px;
}
.outline-box {
	/* margin: 40px auto; */
	width: 180px;
	height: 180px;
}

.inputs {
  display: flex;
  flex-direction: column;

}