#navbar-css {
  padding-bottom: 30px;
  background-color: white;
  /* position: fixed;  */
  /* top: 10; */
  /* width: 100%; */
}

#basecoin {
  font-family: 'Lato', sans-serif;
  font-size: 40px;
  color: #1652f0
}

/* Add a black background color to the top navigation */
.topnav {
  position: relative;
  background-color: #333;
  overflow: hidden;
  height: 85px;
  /* display: flex;
  align-items: baseline */
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  
  color: #ddd;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }
}

#basecoin {
  
}