/* .search-container{
  width: 690px;
  display: block;
  /* margin: 0 auto; */
/* }  */

#search-div {
  display: flex;
  border: 1px solid #D0CFCE;
  border-radius: 7px;
}

input#search-bar{
  margin: 0 auto;
  width: 100%;
  height: 70px;
  /* padding: 0 20px; */
  font-size: 1.2rem;
  border-style: none;
  outline: none;
 }

.search-icon{
  position: relative;
  float: left;
  width: 75px;
  height: 75px;
  /* top: -62px;
  right: -45px; */
}



